Crear un bucle que cuente todos los números pares hasta
el 100 ciclo for

In [2]:
for i in range(0,102,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

Haz una tabla de multiplicar utilizando el ciclo for
ciclo for

In [4]:
num = int(input("Digite el número de la tabla de multiplicar: "))
for i in range(11):
  print(i, " x ", num, " = ",  i * num)

Digite el número de la tabla de multiplicar: 6
0  x  6  =  0
1  x  6  =  6
2  x  6  =  12
3  x  6  =  18
4  x  6  =  24
5  x  6  =  30
6  x  6  =  36
7  x  6  =  42
8  x  6  =  48
9  x  6  =  54
10  x  6  =  60

Escribir un programa que pregunte al usuario su edad y
muestre por pantalla todos los años que ha cumplido
(desde 1 hasta su edad). ciclo for

In [14]:
num = int(input("Digite su edad: "))
for i in range(1, num + 1):
  print("año", i)

Digite su edad: 46
año 1
año 2
año 3
año 4
año 5
año 6
año 7
año 8
año 9
año 10
año 11
año 12
año 13
año 14
año 15
año 16
año 17
año 18
año 19
año 20
año 21
año 22
año 23
año 24
año 25
año 26
año 27
año 28
año 29
año 30
año 31
año 32
año 33
año 34
año 35
año 36
año 37
año 38
año 39
año 40
año 41
año 42
año 43
año 44
año 45
año 46

Escribir un programa que pida al usuario un número entero
positivo y muestre por pantalla todos los números
impares desde 1 hasta ese número separados por comas.

In [26]:
num = int(input("Digite un numero entero positivo: "))
for i in range(1, num, 2):
  print(i, ",")

Digite un numero entero positivo: 16
1 ,
3 ,
5 ,
7 ,
9 ,
11 ,
13 ,
15 ,

Encuentra la suma de todos los números pares del 1 al
100 ciclo for

In [36]:
acu = 0

for i in range(0,102,2):
  print(i)
  acu = acu + i
print(f"El total de la suma de los número pares del 1-100= {acu}")

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
El total de la suma de los número pares del 1-100= 2550